@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles for SGM Presents. You can customise fonts, colours and layout here. */

html,
body {
  padding: 0;
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}